/**
 * @name Eclipse
 * @author Next
 * @description Simple Dark Theme
 * @version 1.3
 * @authorId 319955529873227787
 */
 @import url(https://nextr0ll.github.io/Eclipse/core.css);
 :root {
    --rgb: 153, 51, 255; /* Main color */
    --main-black: #6600CC;
    --secondary-black: #6600CC;
    --third-black: #6600CC;
    --fourth-black: #6600CC;
 }
